
<li>
        
    <!-- room bg image/room icon -->
    <div class='flex p-4 gap-3 text-white items-center shadow-md'>
            {% if i.get_image_url %}
                      <div class=" rounded-full {% cycle 'bg-blue-300' 'bg-red-300' 'tw-bg-green-300' %} text-white text-center">
                <a href="{% url 'profile' i.username %}">
                    <img src='{{i.get_image_url}}' class='rounded-full w-8 h-8'>

                </a>
            </div>  
            {% else %}
            <div class=" rounded-full {% cycle 'bg-blue-300' 'bg-red-300' 'tw-bg-green-300' %} text-white text-center">
                <a href="{% url 'profile' i.username %}">
                    <img src='{{i.profile_image}}' class='rounded-full w-8 h-8'>

                </a>
            </div>  
            {% endif %}

        <a href="{% url 'room' i.id %}" class="">

            <div class="">
                <div  class="text-lg font-semibold flex items-center gap-2">
                    <p>{{i.username}}</p>

                    <!-- active group notifier -->
                    <div class="w-2 h-2 bg-green-600 rounded-full"></div>
                </div>
                <p class='font-light'>{{i.last_msg}}</p>
            </div>
        </a>
    </div>
</li>
