{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>welcome {{request.user.username}}</title>
   <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    {% comment %} ! might cause problems later with the navbar {% endcomment %}
 <link rel="stylesheet" href="{% static 'unprefixed.css' %}"> 

    {% include 'nav_links.html' %}
</head>
<body class="antialiased">
    
    {% include 'nav.html' %}

    <div class="">
        <ul>
           
    {% for i in users %}
     <li>
        
                    <!-- room bg image/room icon -->
                    <div class='flex p-4 gap-3 items-center border-b-2'>
                    <div class=" rounded-full {% cycle 'bg-blue-300' 'bg-red-300' 'tw-bg-green-300' %} text-white text-center">
                        <a href="{% url 'profile' i.username %}">
                             <p class="py-2 px-3">{{i.username.0 |title}}</p>
                        </a>
                    </div>
                <a href="{% url 'room' i.id %}" class="">

                    <div class="">
                        <div  class="text-lg font-semibold flex items-center gap-2">
                            <p>{{i.username}}</p>

                            <!-- active group notifier -->
                            <div class="w-2 h-2 bg-green-600 rounded-full"></div>
                        </div>
                    </div>
                </a>
            </div>
            </li>
    {% endfor %}
    {% for i in groups %}
    <li>
               <a href="{{i}}" class="flex p-4 gap-3 items-center border-b-2">
                   <!-- room bg image/room icon -->
                   <div class=" rounded-full {% cycle 'bg-blue-300' 'bg-red-300' 'bg-green-300' %} text-white text-center">
                       <p class="py-2 px-3">{{i.name.0 |title}}</p>
                   </div>
                   <div class="">
                       <div  class="text-lg font-semibold flex items-center gap-2">
                           <p>{{i.name}}</p>

                           <!-- active group notifier -->
                           <div class="w-2 h-2 bg-green-600 rounded-full"></div>
                       </div>
                   </div>
               </a>
           </li>
   {% endfor %}
        </ul>
    </div>
</body>
    <script>
        {% comment %} document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        }; {% endcomment %}
    </script>
</body>
</html>