{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{user.username}}'s profile</title>
   <link rel="stylesheet" href="{% static 'styles.css' %}"> 
   <link rel="stylesheet" href="{% static 'unprefixed.css' %}"> 
   
 {% comment %} temporary {% endcomment %}
 

    {% include 'nav_links.html' %} 
</head>
<body class="antialiased">
    {% include 'nav.html' %}
    <div class="tw-bg-gray-300 tw-flex tw-items-center tw-justify-center tw-h-[100vh]">
        <div class="tw-w-[100vw] tw-pt-7 tw-h-[100vh] tw-bg-pink-400 tw-max-w-[400px] tw-max-h-[500px] tw-text-black tw-rounded-lg tw-shadow-2xl">
            <!-- profile image -->
            <a href="">
                {% if my_profile %}
                <img src="
                            {% if user.get_image_url %}
                              /{{user.get_image_url}}
                              {% else %}
                              {% static 'default_img.png' %}
                            {% endif %}
                          " class="tw-rounded-full tw-object-center 
                            tw-max-w-[200px] 
                            tw-max-h-[150px] tw-mx-auto tw-mb-8 md:tw-absolute md:tw-left-[50%] md:tw-translate-x-[-50%] md:tw-translate-y-[-50%] tw-transition-[position]" alt="">

                            {% else %}
                            <img src="
                            {% if user.get_image_url %}
                             /{{user.get_image_url}}
                              {% else %}
                              {% static 'default_img.png' %}
                            {% endif %}
                          " class="tw-rounded-full tw-object-center 
                            tw-max-w-[200px] 
                            tw-max-h-[150px] tw-mx-auto tw-mb-8 md:tw-absolute md:tw-left-[50%] md:tw-translate-x-[-50%] md:tw-translate-y-[-50%] tw-transition-[position]" alt="">
                {% endif %}
                            
            </a>


            <!-- username -->
            <p class="tw-text-white tw-font-bold  tw-text-2xl tw-font-mono tw-text-center md:tw-mt-[100px]">{{user.username}}</p>

            <!-- bio -->
            <p class="tw-text-center tw-text-white tw-text-lg tw-font-light tw-max-w-lg tw-mx-auto">{{user.bio}}</p>

           <div class="tw-flex tw-justify-center tw-mt-4">
            <a href="{% url 'profile' user.username %}" class="classic-btn tw-sha tw-bg-red-500 tw-text-white active:tw-bg-red-600 ">Message</a>        
           </div>    
        </div>
    </div>
</body>
</html>