{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'unprefixed.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    

</head>

<body class="bg-gray-300 overflow-x-hidden">
        <!-- chat bar -->
      
        <nav class="fixed top-0 w-[100vw] py-4 px-3 bg-blue-500 text-white ">
            <div  class='flex gap-3'>
                <a onclick='window.history.back()' class='text-xl tw-cursor-pointer'>&laquo;</a>
                {% if private_room == True %}
                    <a href='{% url 'profile' recipient %}'>
                        <p  class="text-lg font-semibold hover:text-xl transition-all tw-cursor-pointer">{{recipient}}</p>
                    </a> 
                {% else %}
               
                    <p  class="text-lg font-semibold hover:text-xl transition-all tw-cursor-pointer">{{recipient}}</p>
          
                {% endif %}

            </div>
         </nav>
     
     
     
         <!-- chats container -->
     
            <div id='chat-cont' class="px-5 tw-pt-36 mb-[100px] w-[100vw] ">  
            </div>
   
 
     
    <!-- bootom text bar -->
    <div class="fixed bottom-0 tw-left-1/2 tw-translate-x-[-50%] tw-bg-gray-100 tw-w-full tw-flex tw-justify-center tw-p-5">
        <div class=" p-2 rounded-lg tw-shadow-lg bg-white flex">
            <input type="text" id='input' class="border-2 rounded-lg border-purple-500 px-2" placeholder="type a message..">
            <button id="submit" class="rounded-lg bg-blue-500 text-white p-1 px-2">
                send
            </button>
        </div>
    </div>

<p class='w-[50px] h-[50px] '></p>
    {{ username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
                'profile_image':'{{request.user.get_image_url}}'
            }));
            messageInputDom.value = '';
        };


        

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
           
            create_message(data)
        }


        function create_message(data){

            if (data.username == user_username) {
                // if the current user owns this message
     
                document.querySelector("#chat-cont").innerHTML += ` <div class="w-full mb-3 px-4 flex justify-end">
             
             <!-- chat bubble -->
             <div class="p-3 max-w-[280px] text-blue-600 bg-white shadow-lg rounded-xl break-words  rounded-ee-none ">
                 <p>
                  ${data.message}
                 </p>
              </div>
        </div>`
                
            }else{

            if(!data.profile_image ){
                if({{private_room}}){
                    document.querySelector("#chat-cont").innerHTML +=`<div class="w-full mb-6 flex gap-3">
                        <img src="{% static 'default_img.png' %}" class='w-[50px] h-[50px] rounded-full'>
                     <!-- chat bubble -->
                     <div class="p-3 max-w-[280px] text-white bg-blue-500 rounded-xl break-words rounded-ss-none ">
                        
                        <p class=' max-w-[250px]'>
                        ${data.message}
                        </p>
                     </div>`
                }else{
                    document.querySelector("#chat-cont").innerHTML +=`<div class="w-full mb-6 flex gap-3">
                        <img src="{% static 'default_img.png' %}" class='w-[50px] h-[50px] rounded-full'>
                     <!-- chat bubble -->
                     <div class="p-3 max-w-[280px] text-white bg-blue-500 rounded-xl break-words  rounded-ss-none ">
                        <p class='text-sm'>${data.username}<p>
                        <p class=' max-w-[250px]'>
                        ${data.message}
                        </p>
                     </div>`
                }
            }else{
                if({{private_room}}){
                    document.querySelector("#chat-cont").innerHTML +=`<div class="w-full mb-6 flex gap-3">
                        <img src="${data.profile_image}" class='w-[50px] h-[50px] rounded-full'>
                     <!-- chat bubble -->
                     <div class="p-3 max-w-[280px] text-white bg-blue-500 rounded-xl break-words  rounded-ss-none ">
                        
                        <p class=' max-w-[250px]'>
                        ${data.message}
                        </p>
                     </div>`
                }else{
                    document.querySelector("#chat-cont").innerHTML +=`<div class="w-full mb-6 flex gap-3">
                        <img src="${data.profile_image}" class='w-[50px] h-[50px] rounded-full'>
                     <!-- chat bubble -->
                     <div class="p-3 max-w-[280px] text-white bg-blue-500 rounded-xl break-words  rounded-ss-none ">
                        <p class='text-sm'>${data.username}<p>
                        <p class=' max-w-[250px]'>
                        ${data.message}
                        </p>
                     </div>`
                }}
            }
        }

        function empty(){
            document.querySelector('#chat-cont').innerHTMl = ''
        }
        empty();
        
        fetch("{% url 'messages' room_name %}")
        .then(e=>e.json())
        .then((response)=>{
           
            for(let i = 0;i<response.length;i++){
                create_message(response[i])
            }
        })
    </script>
 
</body>

</html>